<form name="form" class="form page" ng-submit="submit()">
  <div class="form__title horizontal layout">
    <h2 class="flex">Basic Information</h2>
    <div ng-hide="!!hideTags">
      <span class="badge">Created on {{applicant.created | date:'shortDate'}}</span>
      <span class="badge">{{applicant.matches.length}} Potential Matches</span>
    </div>
    <div ng-show="!!hideTags" class="horizontal layout">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="fname">First Name</label>
      <input
        class="field__input"
        type="text"
        required
        ng-model="applicant.name.first">
    </div>
    <div class="field flex">
      <label class="field__label" for="lname">Last Name</label>
      <input
        id="lname"
        class="field__input"
        type="text"
        required
        ng-model="applicant.name.last">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="email">email</label>
      <input
        id="email"
        class="field__input"
        type="email"
        required
        ng-model="applicant.email">
    </div>
    <div class="field flex">
      <label class="field__label" for="phone">phone</label>
      <input
        id="phone"
        class="field__input"
        type="tel"
        required
        ng-model="applicant.phone">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="dob">Date of Birth</label>
      <input
        id="dob"
        class="field__input"
        type="date"
        ng-model="applicant.dob">
    </div>
    <div class="field flex">
      <label class="field__label" for="sex">Sex</label>
      <select
        id="sex"
        class="field__input"
        ng-model="applicant.gender">
        <option></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="ethnicity">Ethnicity</label>
      <select
        id="ethnicity"
        class="field__input"
        ng-model="applicant.ethnicity">
        <option></option>
        <option value="native-american">Native American</option>
        <option value="caucasian">Caucasian</option>
        <option value="african-american">African American</option>
        <option value="asian">Asian</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="children">Children</label>
      <input
        id="children"
        class="field__input"
        type="number"
        max="10"
        min="0"
        ng-model="applicant.children">
    </div>
    <div class="field flex">
      <label class="field__label" for="type">Type</label>
      <select
        id="type"
        class="field__input"
        ng-model="applicant.type"
        required>
        <option value="provider">Provider</option>
        <option value="seeker">Seeker</option>
      </select>
    </div>
    <div class="field flex" ng-hide="!!hideTags">
      <label class="field__label" for="status">Status</label>
      <select
        id="status"
        class="field__input"
        ng-model="applicant.status">
        <option value="completed">Completed</option>
        <option value="canceled">Canceled</option>
        <option value="failed">Failed Background Check</option>
      </select>
    </div>
  </div>
  <h2 class="form__title">Smoking & Drinking</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="smoker">Tobacco</label>
      <input
        id="smoker"
        class="field__input"
        type="checkbox"
        ng-model="applicant.smoking.tobacco">
    </div>
    <div class="field flex">
      <label class="field__label" for="smoker">Marijuana</label>
      <input
        id="smoker"
        class="field__input"
        type="checkbox"
        ng-model="applicant.smoking.marijuana">
    </div>
    <div class="field flex">
      <label class="field__label" for="smoker">Preference</label>
      <select
        class="field__input"
        ng-model="applicant.smoking.preference">
        <option></option>
        <option value="inside">Inside</option>
        <option value="outside">Outside</option>
      </select>
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="drinking">Drinking</label>
      <input
        id="drinking"
        class="field__input"
        type="checkbox"
        ng-model="applicant.drinking.value">
    </div>
    <div class="field flex">
      <label class="field__label" for="drinking_freq">Frequency</label>
      <select
        class="field__input"
        data-bound-to-checkbox="drinking"
        ng-model="applicant.drinking.preference">
        <option></option>
        <option value="occasional">Occasional</option>
        <option value="everyday">Everyday</option>
      </select>
    </div>
  </div>
  <h2 class="form__title">Pets</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="pets">Do you have pets?</label>
      <input
        id="pets"
        class="field__input"
        type="checkbox"
        ng-model="applicant.pets.value">
    </div>
    <div class="field flex">
      <label class="field__label" for="pets_count">How Many?</label>
      <input
        class="field__input"
        type="number"
        min="0"
        data-bound-to-checkbox="pets"
        ng-model="applicant.pets.count">
    </div>
  </div>
  <div class="form__title horizontal layout">
    <h2 class="flex">Addresses</h2>
    <a class="mdl-button mdl-js-button mdl-button--icon" ng-click="addAddy()">
      <i class="material-icons">add</i>
    </a>
  </div>
  <div class="form__row" ng-repeat="addy in applicant.addresses">
    <div class="field flex-5">
      <label class="field__label" for="address">Address</label>
      <input
        id="address"
        class="field__input"
        type="text"
        ng-model="addy.street">
    </div>
    <div class="field flex">
      <label class="field__label" for="city">City</label>
      <input
        id="city"
        class="field__input"
        type="text"
        ng-model="addy.city">
    </div>
    <div class="field flex">
      <label class="field__label" for="state">State</label>
      <input
        id="state"
        class="field__input"
        type="text"
        list="states"
        maxlength="2"
        ng-model="addy.state">
    </div>
    <div class="field flex">
      <label class="field__label" for="zip">Zip</label>
      <input
        id="zip"
        class="field__input"
        type="text"
        ng-model="addy.zip">
    </div>

    <div class="field flex">
      <label class="field__label" for="current">Current</label>
      <input
        id="current"
        class="field__input"
        type="checkbox"
        ng-model="addy.current">
    </div>
  </div>
  <h2 class="form__title">Emergency Contact</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="emergency_name">Name</label>
      <input
        id="emergency_name"
        class="field__input"
        type="text"
        ng-model="applicant.emergency.name">
    </div>
    <div class="field flex">
      <label class="field__label" for="emergency_phone">phone</label>
      <input
        id="emergency_phone"
        class="field__input"
        type="text"
        ng-model="applicant.emergency.phone">
    </div>
  </div>
  <h2 class="form__title">Income</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="income_amount">amount</label>
      <input
        id="income_amount"
        class="field__input"
        type="number"
        ng-model="applicant.income.amount">
    </div>
    <div class="field flex">
      <label class="field__label" for="income_source">source</label>
      <select
        id="income_source"
        class="field__input"
        ng-model="applicant.income.source">
        <option value="job">Job</option>
      </select>
    </div>
  </div>
  <h2 class="form__title">Housing Provider Preferences</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="gender_prefence">Gender</label>
      <select
        id="gender_preference"
        class="field__input"
        ng-options="pref.value as pref.name for pref in genderPrefs"
        ng-model="applicant.filters.gender">
        <option value="">--</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="income_source">Drinking</label>
      <select
        id="income_source"
        class="field__input"
        ng-options="pref.value as pref.name for pref in drinkingPrefs"
        ng-model="applicant.filters.drinking.preference">
        <option value="">--</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="smoking_preference">Smoking</label>
      <select
        id="smoking_preference"
        class="field__input"
        ng-options="pref.value as pref.name for pref in smokingPrefs"
        ng-model="applicant.filters.smoking.preference">
        <option value="">--<option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="pet_preference">Pets</label>
      <select
        id="pet_preference"
        class="field__input"
        ng-options="pref.value as pref.name for pref in petPrefs"
        ng-model="applicant.filters.pets.preference">
        <option value="">--</option>
      </select>
    </div>
  </div>
  <h2 class="form__title">Housing Preferences</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="roomates">Housing Type</label>
      <select class="field__input" id="roomates">
        <option>--</option>
        <option value="true">House</option>
        <option value="false">Apartment</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="roomates">Are you ok with Roomates?</label>
      <select class="field__input" id="roomates">
        <option>--</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="roomates">Public Transportation Nearby</label>
      <input class="field__input" type="checkbox" id="roomates">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="roomates">Do you mind stairs?</label>
      <input class="field__input" type="checkbox" id="roomates">
    </div>
    <div class="field flex">
      <label class="field__label" for="roomates">Do you require special accessiblity? (Wheelchair)</label>
      <input class="field__input" type="checkbox" id="roomates">
    </div>
  </div>
  <div ng-hide="!!hideTags">
    <h2 id="matches" class="form__title">Matches</h2>
    <div class="form__row">
      <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Date of Birth</th>
            <th class="mdl-data-table__cell--non-numeric">Potential Matches</th>
          </tr>
        </thead>
        <tbody>
          <tr ui-sref="applicant({id: seeker.id})" ng-repeat="match in applicant.matches">
            <td class="mdl-data-table__cell--non-numeric">{{match.name|fullname}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{match.dob|date:'longDate'}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{match.matches.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="horizontal-reverse layout">
    <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="{{task}}">
  </footer>
</form>

<datalist id="states">
  <option value="AL">
  <option value="AK">
  <option value="AZ">
  <option value="AR">
  <option value="CA">
  <option value="CO">
  <option value="CT">
  <option value="DE">
  <option value="FL">
  <option value="GA">
  <option value="HI">
  <option value="ID">
  <option value="IL">
  <option value="IN">
  <option value="IA">
  <option value="KS">
  <option value="KY">
  <option value="LA">
  <option value="ME">
  <option value="MD">
  <option value="MA">
  <option value="MI">
  <option value="MN">
  <option value="MS">
  <option value="MO">
  <option value="MT">
  <option value="NE">
  <option value="NV">
  <option value="NH">
  <option value="NJ">
  <option value="NM">
  <option value="NY">
  <option value="NC">
  <option value="ND">
  <option value="OH">
  <option value="OK">
  <option value="OR">
  <option value="PA">
  <option value="RI">
  <option value="SC">
  <option value="SD">
  <option value="TN">
  <option value="TX">
  <option value="UT">
  <option value="VT">
  <option value="VA">
  <option value="WA">
  <option value="WV">
  <option value="WI">
  <option value="WY">
</datalist>
