<main class="page">
  <section id="my-seekers" class="section">
    <h4>My Seekers</h4>
    <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Date of Birth</th>
          <th class="mdl-data-table__cell--non-numeric">Potential Matches</th>
        </tr>
      </thead>
      <tbody>
        <tr ui-sref="applicant({id: seeker.id})" ng-repeat="seeker in seekers">
          <td class="mdl-data-table__cell--non-numeric">{{seeker.name|fullname}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{seeker.dob|date:'longDate'}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{seeker.matches}}</td>
        </tr>
      </tbody>
    </table>

    <h4>My Providers</h4>
    <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Date of Birth</th>
          <th class="mdl-data-table__cell--non-numeric">Potential Matches</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="providers.length <= 0" class="center-center horizontal layout">
          <td>You do not have any providers</td>
        </tr>
        <tr ui-sref="applicant({id: provider.id})" ng-if="providers.length > 0" ng-repeat="provider in providers">
          <td class="mdl-data-table__cell--non-numeric">{{provider.name|fullname}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{provider.dob|date:'longDate'}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{provider.matches}}</td>
        </tr>
      </tbody>
    </table>

  </section>
</main>
