<main class="page">
  <section id="my-seekers" class="section">
    <h4>My Seekers</h4>
    <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="seeker in seekers">
          <td class="mdl-data-table__cell--non-numeric">{{seeker.name|fullname}}</td>
          <td class="mdl-data-table__cell--non-numeric"></td>
          <td class="mdl-data-table__cell--non-numeric"></td>
        </tr>
      </tbody>
    </table>

    <h4>My Providers</h4>
    <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="providers.length <= 0" class="center-center horizontal layout">
          <td>You do not have any providers</td>
        </tr>
        <tr ng-if="providers.length > 0" ng-repeat="provider in providers">
          <td class="mdl-data-table__cell--non-numeric">{{provider.name|fullname}}</td>
          <td class="mdl-data-table__cell--non-numeric"></td>
          <td class="mdl-data-table__cell--non-numeric"></td>
        </tr>
      </tbody>
    </table>

  </section>
</main>
