<main class="mdl-card mdl-card mdl-shadow--2dp login">
  <form method="post" ng-submit="login()" name="loginForm">
  <div class="mdl-card__supporting-text">
    <div class="form-group has-feedback">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="email" id="email" ng-model="user.email" placeholder="Email"/>
      </div>
    </div>
    <div class="form-group has-feedback">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" id="password" ng-model="user.password" placeholder="Password"/>
      </div>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button type="submit" ng-disabled="loginForm.$invalid" class="mdl-button mdl-js-button mdl-js-ripple-effect">
      Login
    </button>
  </div>
  </form>
</main>
