<form class="vertical layout">
  <h2 class="form__title">Basic Information</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="fname">First Name</label>
      <input class="field__input" type="text" id="fname">
    </div>
    <div class="field flex">
      <label class="field__label" for="lname">Last Name</label>
      <input class="field__input" type="text" id="lname">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="email">email</label>
      <input class="field__input" type="email" id="email">
    </div>
    <div class="field flex">
      <label class="field__label" for="phone">phone</label>
      <input class="field__input" type="tel" id="phone">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="dob">Date of Birth</label>
      <input class="field__input" type="date" id="dob">
    </div>
    <div class="field flex">
      <label class="field__label" for="sex">Sex</label>
      <select class="field__input" id="sex">
        <option></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="ethnicity">Ethnicity</label>
      <select class="field__input" id="ethnicity">
        <option></option>
        <option value="native-american">Native American</option>
        <option value="caucasian">Caucasian</option>
        <option value="african-american">African American</option>
        <option value="asian">Asian</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="children">Children</label>
      <input class="field__input" type="number" id="children" max="10">
    </div>
  </div>
  <h2 class="form__title">Smoking & Drinking</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="smoker">Tobacco</label>
      <input class="field__input" type="checkbox" id="smoker">
    </div>
    <div class="field flex">
      <label class="field__label" for="smoker">Marijuana</label>
      <input class="field__input" type="checkbox" id="smoker">
    </div>
    <div class="field flex">
      <label class="field__label" for="smoker">Preference</label>
      <select class="field__input">
        <option></option>
        <option value="inside">Inside</option>
        <option value="outside">Outside</option>
      </select>
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="drinking">Drinking</label>
      <input class="field__input" type="checkbox" id="drinking">
    </div>
    <div class="field flex">
      <label class="field__label" for="drinking_freq">Frequency</label>
      <select class="field__input" data-bound-to-checkbox="drinking">
        <option></option>
        <option value="occasional">Occasional</option>
        <option value="everyday">Everyday</option>
      </select>
    </div>
  </div>
  <h2 class="form__title">Pets</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="pets">Do you have pets?</label>
      <input class="field__input" type="checkbox" id="pets">
    </div>
    <div class="field flex">
      <label class="field__label" for="pets_count">How Many?</label>
      <input class="field__input" type="number" min="0" data-bound-to-checkbox="pets">
    </div>
  </div>
  <h2 class="form__title">Previous Addresses</h2>
  <div class="form__row">
    <div class="field flex-5">
      <label class="field__label" for="address">Address</label>
      <input class="field__input" type="text" id="address">
    </div>
    <div class="field flex">
      <label class="field__label" for="city">City</label>
      <input class="field__input" type="text" id="city">
    </div>
    <div class="field flex">
      <label class="field__label" for="state">State</label>
      <input class="field__input" type="text" list="states" maxlength="2" id="state">
    </div>
    <div class="field flex">
      <label class="field__label" for="zip">Zip</label>
      <input class="field__input" type="text" id="zip">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex-5">
      <label class="field__label" for="address">Address</label>
      <input class="field__input" type="text" id="address">
    </div>
    <div class="field flex">
      <label class="field__label" for="city">City</label>
      <input class="field__input" type="text" id="city">
    </div>
    <div class="field flex">
      <label class="field__label" for="state">State</label>
      <input class="field__input" type="text" list="states" maxlength="2" id="state">
    </div>
    <div class="field flex">
      <label class="field__label" for="zip">Zip</label>
      <input class="field__input" type="text" id="zip">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex-5">
      <label class="field__label" for="address">Address</label>
      <input class="field__input" type="text" id="address">
    </div>
    <div class="field flex">
      <label class="field__label" for="city">City</label>
      <input class="field__input" type="text" id="city">
    </div>
    <div class="field flex">
      <label class="field__label" for="state">State</label>
      <input class="field__input" type="text" maxlength="2" id="state">
    </div>
    <div class="field flex">
      <label class="field__label" for="zip">Zip</label>
      <input class="field__input" type="text" id="zip">
    </div>
  </div>
  <h2 class="form__title">Emergency Contact</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="emergency_name">Name</label>
      <input class="field__input" type="text" id="emergency_name">
    </div>
    <div class="field flex">
      <label class="field__label" for="emergency_phone">phone</label>
      <input class="field__input" type="tel" id="emergency_phone">
    </div>
  </div>
  <h2 class="form__title">Income</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="income_amount">amount</label>
      <input class="field__input" type="number" id="income_amount">
    </div>
    <div class="field flex">
      <label class="field__label" for="income_source">source</label>
      <select class="field__input" id="income_source">
        <option value="job">Job</option>
      </select>
    </div>
  </div>
  <h2 class="form__title">Housing Provider Preferences</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="income_source">Gender</label>
      <select class="field__input" id="income_source">
        <option>--</option>
        <option value="any">Any</option>
        <option value="inside">Male</option>
        <option value="outside">Female</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="income_source">Drinking</label>
      <select class="field__input" id="income_source">
        <option>--</option>
        <option value="any">Any</option>
        <option value="inside">Occasional</option>
        <option value="outside">Everyday</option>
        <option value="outside">None</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="income_source">Smoking</label>
      <select class="field__input" id="income_source">
        <option>--</option>
        <option value="any">Any</option>
        <option value="inside">Inside</option>
        <option value="outside">Outside</option>
        <option value="no">None</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="income_source">Pets</label>
      <select class="field__input" id="income_source">
        <option>--</option>
        <option value="any">Any</option>
        <option value="inside">Inside</option>
        <option value="outside">Outside</option>
        <option value="no">None</option>
      </select>
    </div>
  </div>
  <h2 class="form__title">Housing Preferences</h2>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="roomates">Housing Type</label>
      <select class="field__input" id="roomates">
        <option>--</option>
        <option value="true">House</option>
        <option value="false">Apartment</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="roomates">Are you ok with Roomates?</label>
      <select class="field__input" id="roomates">
        <option>--</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="field flex">
      <label class="field__label" for="roomates">Public Transportation Nearby</label>
      <input class="field__input" type="checkbox" id="roomates">
    </div>
  </div>
  <div class="form__row">
    <div class="field flex">
      <label class="field__label" for="roomates">Do you mind stairs?</label>
      <input class="field__input" type="checkbox" id="roomates">
    </div>
    <div class="field flex">
      <label class="field__label" for="roomates">Do you require special accessiblity? (Wheelchair)</label>
      <input class="field__input" type="checkbox" id="roomates">
    </div>
  </div>
  <h2 class="form__title">Location</h2>
  <div class="form__row">
    <div id="map" class="flex"></div>
    <div class="vertical layout flex">
      <div class="form__row">
        <div class="field flex">
          <label class="field__label" for="location_city">City</label>
          <input class="field__input" type="text">
        </div>
      </div>
      <div class="form__row">
        <div class="field flex">
          <label class="field__label" for="location_city">State</label>
          <input class="field__input" type="text">
        </div>
      </div>
      <div class="form__row">
        <div class="field flex">
          <label class="field__label" for="location_city">Range</label>
          <input class="field__input" type="text">
        </div>
      </div>
    </div>
  </div>
</form>
<datalist id="states">
  <option value="AL">
  <option value="AK">
  <option value="AZ">
  <option value="AR">
  <option value="CA">
  <option value="CO">
  <option value="CT">
  <option value="DE">
  <option value="FL">
  <option value="GA">
  <option value="HI">
  <option value="ID">
  <option value="IL">
  <option value="IN">
  <option value="IA">
  <option value="KS">
  <option value="KY">
  <option value="LA">
  <option value="ME">
  <option value="MD">
  <option value="MA">
  <option value="MI">
  <option value="MN">
  <option value="MS">
  <option value="MO">
  <option value="MT">
  <option value="NE">
  <option value="NV">
  <option value="NH">
  <option value="NJ">
  <option value="NM">
  <option value="NY">
  <option value="NC">
  <option value="ND">
  <option value="OH">
  <option value="OK">
  <option value="OR">
  <option value="PA">
  <option value="RI">
  <option value="SC">
  <option value="SD">
  <option value="TN">
  <option value="TX">
  <option value="UT">
  <option value="VT">
  <option value="VA">
  <option value="WA">
  <option value="WV">
  <option value="WI">
  <option value="WY">
</datalist>

