/* Form Styles */
body {
  background: #f8f8f8;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
}

form input:-webkit-autofill,
form:-webkit-autofill,
.form select:-webkit-autofill {
  background-color: transparent !important;
}

.title {
  margin: 0px 16px;
}

.title h2 {
  font-size: 2em;
  font-weight: 300;
}

.container {
  width: 960px;
  margin: 40px auto;
}

.content {
  background-color: #fff;
  box-shadow: rgba(0,0,0, 0.5) 0 1px 1px;
}

/* FORM  */
.form {
}

.form__title {
  color: #757575;
  font-size: 1em;
  text-transform: uppercase;
  padding: 20px 16px;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
}

.field {
  padding: 16px 16px 5px;
  border-bottom: 1px solid #e5e5e5;

  transition: background-color 1s ease;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.field:not(:first-child) {
  border-left: 1px solid #e5e5e5;
}

.field.focus {
  background-color: rgb(250, 255, 189);
}

.field__label {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.field__input {
  outline: none;
  background: none;
  width: 100%;
  border: 0;
  padding: 5px 0;
  color: #666;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s linear;
}


.form__row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.form__row:last-child > .field {
  border-bottom: 0;
  padding-bottom: 16px;
}

#map {
  height: 350px;
}
